.classeb {
    margin-top: 50px;
    height: 550px;
    width: 550px;
    padding: 0;
    border: black 2px solid;
}

.classeb div {
    border: 2px solid #65DB94;
    cursor: pointer;
}

.cell {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.bg-green {
    background-color: #465C4F;
}

.bg-darkgreen {
    background-color: #2A5C3E;
}

.bgc-grid {
    background-color: #239452;
}

.textlight-green {
    color: #65DB94;
}

div .bomb:hover {
    background-color: #dd0e0e;
    color: #000000;
    border: 3px solid darkred;
    transform: scale(1.1);
}

.cell:hover {
    background-color: #65DB94;
    color: #2A5C3E;
    border: 3px solid #465C4F;
    transform: scale(1.1);
}

.cursor {
    cursor: pointer;
    border: none;
    user-select: none;
}

.safe {
    background-color: #65DB94;
    color: #2A5C3E;
}

div .bomb {
    background-color: #dd0e0e;
    color: #000000;
    border: 1px solid darkred;
}

.message {
    cursor: pointer;
    user-select: none;
    color: white;
    margin-top: 10px;
}

.align-sup {
    vertical-align: sub;
}

.remove-background {
    background-image: url(../img/kisspng-time-bomb-cartoon-5ae737610e4c95.3177587015251024330586-removebg-preview.png);
    max-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div .fa-bomb:hover {
    transform: scale(1.5);
}